<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>ورود مدیریت</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>KMC</h1>
    </header>

    <main>
        <h2>ورود پنل مدیریت</h2>
        <form method="POST">
            <label>رمز عبور:</label>
            <input type="password" name="password" required>
            <button type="submit">ورود</button>
        </form>
    </main>
</body>
</html>
